<% provide(:title, 'about') %>


	<section class="aboutView">
	<!--<-%= image_tag @userreview.cinewiseposter.url(:small) %>  -->
<div class="aboutContent">


<p>Hi!</p>

<p>My name is Gurur and I'm the curator and creator of cinewise. This was originally a personal film blog, the main content of which was reviews - not necessarily new films, but anything that caught my fancy. Over the years a few friends have joined cinewise as feature writers, frequent collaborators, or with one-off submissions. (I'd like to single out DubMC for carrying most of the weight for a good part of a year, maybe more, during which cinewise was a democratic two-men operation).</p>

<h2>But what is cinewise now?</h2>

<p>It is an oline platform for intelligent criticism. It is aimed at film enthusiasts to come together and discuss the insights they get from a film they have watched. It is a collaborartive environment, but you don't have to contribute if you don't want - you can just browse what other people are writing and follow a few of them if you like. But I believe you will get a better appreciation of the experience if you take part in it as well.</p>

<p>There are also editorial pieces, with bespoke content and design, to be published periodically. So keep an eye for those as well.</p>

<h2>What can you write here?</h2>

<p>Anything, as long as it's film related and about more serious things than gossip. Every film deserves a mention and every film was made by people who are passionate about this art form. It is up to us to appreciate, understand and spread their word.</p>



<h2>How does it work?</h2>

<p>You sign up with your name (or nickname, I'm not a fascist), email, password, and your favourite film and you're good to go right away.</p>

<h2>Caveat</h2>

<p>This is a thesis project for an MA in web design and it will have a few bugs for some time. I will make sure to eliminate those bugs on an ongoing basis. I would like to apologise in advance for any frustration this site is likely to cause. :)</p>

<h2>Technical stuff (in case you're interestin in that kind of thing)</h2>

<p>This site is built on Ruby on Rails, runs PostgreSQL database, is hosted on Heroku, and has plenty of <code>div</code>'s.</p>

<p>Join the <%= link_to "revolution", signup_path %> and be part of what it will hopefully become a vibrant community of film lovers.</p>
</div>



</section>