<section class="indexTile">
  <%= gravatar_for user, size: 70, class: "indexTile" %>
  <ul>
  	<li>

  <%= link_to user.name, user, class: "readButton" %>
  <% if current_user.admin? && !current_user?(user) %> | <%=link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
</div>
</section>