<article class="tileSystem">
<section class="tile feed">
	<ul>
<li id="<%= feed_item.id %>">


  <p><span class="film_title"><%= link_to "#{feed_item.title}", feed_item, method: :get %></span></p> 
  <p><% if current_user?(feed_item.user) %>
  <%= link_to "delete", feed_item, class: "deleteButton",method: :delete, data: { confirm: "You sure?" }, title: feed_item.title %>
  <% end %>
</p>
  <p><span class="timestamp">posted <%= time_ago_in_words(feed_item.created_at) %> ago.</span></p>


  
</li>
</ul>
</section>
</article>