

<% @user ||= current_user %>
<div>
  <p class="stats">Following <a href="<%= following_user_path(@user) %>"><%= @user.followed_users.count %></a> and followed by <a href="<%= followers_user_path(@user) %>"><%= @user.followers.count %></a> users.</p>
</div>