<div class="homeGravatar">
<%= link_to gravatar_for(current_user, size: 100), current_user %>
</div>
<div class="userInfo">
<h1 class="userName">
  <%= link_to current_user.name, current_user %>
</h1>
<p class="articleCount">
  You wrote <%= pluralize(current_user.posts.count, "post") %>.</p>
</div>

