



<section class="profileTile">

<div>
  <h1><span class="articleTitle"><%= post.title %></span></h1>
  <p><span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span></p>

<ul>
	<li>
<%= link_to "read", post, class: "readButton", method: :get %></li>
  <% if current_user?(post.user) %>
  <li>
  <%= link_to "delete", post, method: :delete, data: { confirm: "You sure?" }, title: post.title, class: "deleteButton" %>
  <% end %>
</li>
</ul>

</div>
</section>