<section class="postView">
	<!--<-%= image_tag @userreview.cinewiseposter.url(:small) %>  -->
<div class="reviewContent">
<h1 class="postTitle"><%= @post.title %></h1> 
<p class="postcontent"><%= raw(@post.content) %></p>
</div>



</section>