/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****** Much obliged, Eric! *******/

/***************************************************************/

/****** CUSTOM STYLE STARTS HERE ******/

/** COLORS **/

/** FONTS **/
/* Paragraph => Oxygen (Google Fonts) */

/* ##############  BODY ############## */

body {
	font: 1em 'Oxygen', Arial, Helvetica, sans-serif;
	font-weight: 200;
	line-height: 1.5em;
	color: #1a1a1a;
	margin: 0 auto;
	padding: 0 auto;
}

.floatingElement {
	display: block;
	position: fixed;
	top: 0px;
	margin: 0 auto;
	z-index: 100000000;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid rgba(103,126,42,0.1);
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.1);
}


/* ############## SIGN UP, SIGN IN FORMS ############### */

section.signUpForm, section.signInForm, section.editForm {
	display: block;
	margin: 0 auto;
	width: 50%;
}

@media only screen and (max-width: 300px) {
	section.signUpForm, section.signInForm, section.editForm {
		width: 75%;
	}
}

@media only screen and (min-width: 301px) and (max-width: 600px) {
	section.signUpForm, section.signInForm, section.editForm {
		width: 75%
	}
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
	section.signUpForm, section.signInForm, section.editForm {
		width: 75%;
	}
}

h1.signUpNote, h1.signInNote, h1.editNote {
	font-size: 3em;
	line-height: 1em;
	margin-bottom: 3%;
	text-align: center;
	font-family: "Grablau Sans Pro Light", 'Trebuchet MS', Arial, sans-serif;
}

@media only screen and (max-width: 300px) {
	h1.signUpNote, h1.signInNote, h1.editNote {
		font-size: 1em;
	}
}

@media only screen and (min-width: 301px) and (max-width: 600px) {
	h1.signUpNote, h1.signInNote, h1.editNote {
		font-size: 1.5em;
	}
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
	h1.signUpNote, h1.signInNote, h1.editNote {
		font-size: 2em;
	}
}

label {
	font-size: 1.1em;
	line-height: 2em;
	font-weight: bolder;
}

@media only screen and (max-width: 300px) {
	label {
		font-size: 0.8em;
		line-height: 1.5em;
	}
}

@media only screen and (min-width: 301px) and (max-width: 600px) {
	label {
		font-size: 0.9em;
	}
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
	label {
		font-size: 1em;
	}
}

input {
	width: 98%;
	height: 3%;
	border: none;
	border-bottom: 1px solid gray;
	margin-bottom: 2%;
	border-radius: 10px;
}

input.button {
	display: block;
	text-align: center;
	margin-top: 3%;
	width: 100%;
	cursor: pointer;
	background: rgba(2,121,34,0.9);
	color: #fff;
	border: none;
	border-radius: 15px;
}

a.gravatarLink, a.signinLink, a.signupLink {
	color: #1a1a1a;
}

@media only screen and (max-width: 300px) {
	input.button {
		margin-top: 8%;
		font-size: 1em;
	}
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
	input.button {
		margin-top: 8%;
		font-size: 0.9em;
	}
}

input.signIn {
	background: rgba(3,82,101,0.9);
}

input.button:active {
	background: #09c;
}

textarea:focus, input:focus {
	border: 1px solid #09c;
}

textarea, input {
	font-size: 1.5em;
	padding: 1%;
	font-weight: none;
}

p.error {
	font-size: 1.2em;
	line-height: 1.5em;
}

input.followButton, input.unfollowButton {
	max-width: 150px;
	cursor: pointer;
	max-height: 100px;
	margin-top: 10px;
}

input.followButton {
	background: #09c;
}

input.unfollowButton {
	background: #67c6e6;
}

/* ############## SIGNED-IN HOME VIEW ############### */


section.dashboard {
	float: left;
	padding: 0.5%;
	width: 40%;
	border-radius: 10px;
	max-width: 700px;
}

@media only screen and (max-width: 300px) {
	section.dashboard {
		float: none;
		margin: 0 auto;
		display: block;
		width: 90%;
		position: static;
	}
}

@media only screen and (min-width: 301px) and (max-width: 600px) {
	section.dashboard {
		float: none;
		position: static;
		width: 90%;
		display: block;
		margin: 0 auto;

	}
}

.userReviewsFeed {
	margin-left: 50%;
	font-size: 1.2em;
	line-height: 1.2em;
	padding-bottom: 8%;
}

@media only screen and (max-width: 300px) {
	.userReviewsFeed {
		margin: 5% auto;
	}
}

@media only screen and (min-width: 301px) and (max-width: 600px) {
	.userReviewsFeed {
		margin: 5% auto;
	}
}

.userReviewsFeed > h1 {
	text-align: right;
	border-bottom: 3px solid rgba(103,126,42, 0.9);
	color: rgba(250,38,9, 0.8);
	font-style: italic;
	padding: 0 2% 2% 0;
}

.pagination {
	margin-top: 5%;
	border: none;
}

.homeGravatar {
	float: left;
}

@media only screen and (max-width: 300px) {
	.homeGravatar {
		float: none;
		text-align: center;
	}
}

.userInfo, .stats {
	margin-left: 20%;
}

.profileInfo .stats {
	margin-left: 0;
}

.stats {
	margin-top: 2%;
}

@media only screen and (max-width: 300px) {
	.userInfo, .stats {
		margin: 2% auto;
		text-align: center;
	}
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
	.userInfo, .stats {
		padding-left: 20%;
	}
}

@media only screen and (min-width: 801px) and (max-width: 960px) {
	.userInfo, .stats {
		padding-left: 15%;
	}
}

.userName {
	font-size: 1.5em;
	line-height: 1em;
	padding-bottom: 2%;
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
	.userName {
		font-size: 1.3em;
	}
}

.userName a {
	color: rgba(2,121,34,0.9);
	text-decoration: none;
}

.userInfo p {
	display: inline;
}

.stats a {
	text-decoration: none;
	color: rgba(2,121,34,0.9);
	font-weight: bold;
}

.stats a:hover {
	text-decoration: underline;
}

.postForm {
	margin-top: 5%;
}

.postForm p {
	font-size: 1em;
	margin-bottom: 2%;
	font-style: italic;
	text-align: right;
	padding-right: 1%;
}

@media only screen and (max-width: 300px) {
	.postForm p {
		font-size: 0.7em;
	}
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
	.postForm p {
		font-size: 0.9em;
	}
}

.postForm input {
	box-shadow: inset -1px -1px 5px 0 #aaa;
	border: none;
	border-radius: 15px;
}

.postForm textarea {
	width: 98%;
	height: 200px;
	border: none;
	border-radius: 15px;
	margin-bottom: 2%;
	box-shadow: inset -1px -1px 5px 0 #aaa;
	font: 1.3em 'Oxygen', Arial, Helvetica, sans-serif;;
}

.postButton {
	margin-top: 5%;
	width: 100%;
	float: right;
	background: rgba(2,121,34,0.9);
	color: #fff;
	cursor: pointer;
}

/* ############## POST VIEW ############ */

.postView div.reviewContent {
	display: block;
	margin: 0 auto;
	max-width: 960px;
	border-bottom: 1px solid rgba(103,126,42, 0.5);
}

@media only screen and (max-width: 300px) {
	.postView div.reviewContent {
		width: 90%;
		margin-top: 200px;
	}
}

@media only screen and (min-width: 301px) and (max-width: 600px) {
	.postView div.reviewContent {
		width: 90%;
	}
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
	.postView div.reviewContent {
		width: 90%;
	}
}

@media only screen and (min-width: 801px) and (max-width: 960px) {
	.postView div.reviewContent {
		width: 90%;
	}
}

.postView h1 {
	font-size: 3em;
	line-height: 1.5em;
	border-bottom: 3px solid rgba(103,126,42, 0.5);
}

@media only screen and (max-width: 300px) {
	.postView h1 {
		font-size: 1.5em;
		line-height: 1.2em;
	}
}

@media only screen and (min-width: 301px) and (max-width: 600px) {
	.postView h1 {
		font-size: 2em;
	}
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
	.postView h1 {
		font-size: 2.5em;
	}
}

.postView p {
	display: block;
	margin: 0 auto;
	font-size: 1.8em;
	line-height: 1.8em;
	padding-top: 2%;
	padding-bottom: 5%;
}

@media only screen and (max-width: 300px) {
	.postView p {
		font-size: 1em;
	}
}

@media only screen and (min-width: 301px) and (max-width: 600px) {
	.postView p {
		font-size: 1em;
	}
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
	.postView p {
		font-size: 1.3em;
	}
}

div.postBy {
	display: block;
	margin: 0 auto;
	width: 960px;
	font-size: 0.7em;
	text-align: right;
}

div.postBy p {
	padding-bottom: 1%;
	line-height: 0.8em;
}




/* ############## HEADER ############### */

.floatingElement header {
	margin: 10px auto;
	max-width: 1500px;
	width: 100%;
}

@media only screen and (max-width: 300px) {
	.floatingElement header {
		width: 90%;
	}
}

header > h1#siteTitle a {
	font-family: "KingthingsTrypewriterProRegular", Courier, monotype;
	font-weight: normal;
	font-style: normal;
	font-size: 4em;
	/*margin: 30px auto 0 auto;*/
	float: left;
	padding-top: 1%;
	text-decoration: none;
	color: rgb(250,38,9);
}

@media only screen and (max-width: 300px) {
	header > h1#siteTitle a {
		font-size: 2em;
		float: none;
	}
}

@media only screen and (min-width: 301px) and (max-width: 600px) {
	header > h1#siteTitle a {
		font-size: 2.5em;
	}
}


/* ############## NAV BAR ############# */

nav {
	
	max-width: 1500px;
	background: #fff;
}

nav > ul {
	text-align: right;
	float: right;
	width: 100%;
	padding-bottom: 1%;
}

@media only screen and (max-width: 300px) {
	nav > ul {
		float: none;
		text-align: center;
	}
}

nav > ul > li {
	display: inline;
	margin-right: 1%;
	border-right: 1px solid #677e2A;
	padding-right: 1%;
	font-family: 'Oxygen', Arial, sans-serif;
}

nav > ul > li:last-child {
	margin-right: 0;
	padding-right: none;
	border-right: none;
}

nav > ul > li > a {
	text-decoration: none;
	font-size: 1em;
	line-height: 1.8em;
	color: #1a1a1a;
}

nav >ul >li > a:hover, nav > ul > li > a:active {
	border-bottom: 1px solid #677e2A;
}

/* ########### ARTICLE ########## */

/*article {
	margin: 8% auto;
	padding: 20px auto;
	width: 65%;
	max-width: 1024px;
	position: relative;
	top: 5%;
}*/

article > header {
	margin: 5% auto;
	padding: 0;
	max-width: auto;
	width: auto;
	position: relative;
}

article  header.articleHeader  h1, article  header.reviewHeader  h1 {
	font-family: 'Oxygen', Arial, sans-serif;
	font-size: 2.7em;
	line-height: 2em;
	letter-spacing: 2px;
	font-weight: bolder;
}

header.reviewHeader span.reviewDesignator {
	font-size: 0.5em;
	line-height: 1em;
}

.articleHeader div, .reviewHeader div {
	display: block;
	border-bottom: 2px solid #abbf79;
}

.shareLinks {
	float: right;
	margin-top: -5%;
}

.shareLinks li {
	display: inline;
}

.shareLinks a img {
	width: auto;
	height: 40px;
}

li.googlePlus {
	display: none;
	background: url(images/vectors/googleplus.png);
}

article .secondNav {
	padding-top: 1%;
}

article  .secondNav li {
	display: inline;
	margin: 3%;
}

article header ul li a {
	font-size: 1.5em;
	color: #000;
}

article header ul li:first-child {
	margin-left: 0;
}





/* ############# Homepage tiles ################ */

article.homeTiles {
	margin: 8% auto;
	padding: 20px auto;
	width: 100%;
	max-width: 1500px;
	position: relative;
	top: 5%;
	display: block;
}

@media only screen and (max-width: 300px) {
	article.homeTiles {
		margin: 120px 1% 0 2%;
	}
}

@media only screen and (min-width: 301px) and (max-width: 600px) {
	article.homeTiles {
		padding-top: 50px;
	}
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
	article.homeTiles {
		padding-top: 50px;
	}
}

@media only screen and (min-width: 801px) and (max-width: 960px) {
	article.homeTiles {
		padding-top: 60px;
	}
}

article.homeTiles > div {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

section.tile {
	width: 90%;
	position: relative;
	display: inline;
	float: left;
	padding: 1%;
	overflow: hidden;
}



section.feed {
	font-size: 1.1em;
	padding-left: 10%;
}

@media only screen and (max-width: 300px) {
	section.feed {
		margin-right: 10%;
	}
}

section.feed li {
	padding-bottom: 3%;
	border-bottom: 1px solid gray;
}

@media only screen and (max-width: 300px){
	section.tile {
		width: 98%;
		display: block;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
	section.tile {
		width: 98%;
	}
}


.tile a {
	text-decoration: none;
	color: #035265;
}

.feed a {
	font-size: 1.3em;
}

.feed span.film_title {
	font-weight: bolder;
}

.tile a.deleteButton {
	text-align: center;
	display: inline-block;
	float: right;
	background: rgba(250,38,9,0.2);
	color: black;
	text-decoration: none;
	font-size: 0.7em;
	padding: 2px;
	margin-right: 5%;
}

@media only screen and (max-width: 300px) {
	.tile a.deleteButton {
		margin-right: 10%;
	}
}

/*.tile figure:hover div {
	opacity: 1;
    height: 100%;
    box-shadow: 0 0 0 10px rgba(71,82,90, 0.1);
    z-index: -1;
}*/

p span.timestamp {
	font-size: 0.6em;
	text-align: right;
}

article.tileSystem {
	margin: 30px auto 0 auto;
}

/* ########### Footer ############*/

footer {
	clear: both;
	padding: 5% auto;
	margin: 5% auto;
	display: block;
	z-index: 5;
}

footer p {
	text-align: right;
	padding-right: 3%;
}

/*************** Debug ***************/

.debug {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  background-color: #ddd;
  padding: 10px;
  width: auto;
  font-family: Menlo;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.pagination {
  clear: both;
  text-align: center;
  padding: 1em;
  color: #000;
  cursor: default; 
}
  .pagination a, .pagination span {
    padding: 0.2em 0.3em; }
  .pagination .disabled {
    color: #aaaaaa; }
  .pagination .current {
    font-style: normal;
    text-align: center;
    font-weight: bold;
    background-color: rgba(250,38,9, 0.5);
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
 }
  .pagination a {
    text-decoration: none;
    color: black; }
    .pagination a:hover, .pagination a:focus {
      text-decoration: underline; 

  }


div.alert-success {
	color: rgba(103,126,42, 0.9);
}

/* ################ INDEX TILES ############## */

.indexTile {
	width: 20%;
	position: relative;
	display: inline;
	float: left;
	padding: 1%;
	overflow: hidden;
	text-align: center;
	max-width: 1024px;

}

.indexTiles h1 {
	font-size: 2em;
	line-height: 1.5em;
	border-bottom: 3px solid rgba(103,126,42, 0.5);
	padding-left: 1%;
}

.indexTile li a {
	text-decoration: none;
	font-size: 1.2em;
	color: rgba(103,126,42, 0.9);
}

.indexTile li a.deleteButton {
	color: rgb(250,38,9);
}

/* ############## PROFILE PAGE ################ */

.profileId {
	padding-bottom: 3%;
}

.profileGravatar {
	float: left;
}

.profileInfo {
	margin-left: 12%;
}

.profileInfo h1 {
	font-size: 2.2em;
	line-height: 1.2em;
	margin-bottom: 1%;
}

b {
	font-weight: bold;
}

p {
	margin-bottom: 2%;
}

.profileStats a {
	text-decoration: none;
	color: rgba(2,121,34,0.9);
	font-weight: bold;
}

h1.profilePosts {
	font-size: 1.5em;
	padding-bottom: 1%;
	border-bottom: 3px solid rgba(103,126,42, 0.5) ;
}

.profileTile {
	display: block;
	margin: 0 auto;
}

.profileTile div {
	width: 25%;
	display: inline;
	float: left;
	padding: 1%;
	overflow: hidden;
	font-size: 1.5em;
}

h1 span.articleTitle {
	border-bottom: none;
}

.profileTile a {
	font-size: 0.8em;
	text-decoration: none;
}

.profileTile .readButton {
	color: #677e2A;
	font-size: 0.7em;
}

.profileTile .deleteButton {
	color: rgba(250,38,9, 0.7);
	font-size: 0.7em;
}

.profileTile ul li {
	display: inline;
}
.posts h1.profilePostsHeader {
	font-size: 2em;
	padding: 3% 0 1%;
	border-bottom: 3px solid rgba(103,126,42,0.5);
}

/* ############## ABOUT ############# */

.aboutView div.aboutContent {
	display: block;
	margin: 0 auto;
	max-width: 960px;
	border-bottom: 3px solid rgba(103,126,42, 0.5);
}

.aboutView p {
	font-family: 'Oxygen', Arial, Helvetica, 'sans-serif';
}

.aboutView h2 {
	font-size: 2em;
	padding: 3% 0;
}

.aboutView p {
	display: block;
	margin: 0 auto;
	font-size: 1.5em;
	line-height: 1.8em;
	padding-bottom: 2%;
}

.aboutView code {
	font-family: 'Menlo', Courier, 'Courier new', monotype;
}

.profileInfo p.favouriteFilm {
	font-size: 1.5em;
}

.profileInfo p a {
	text-decoration: none;
	color: rgba(103,126,42, 0.9);
}

